* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  Nav Section */
.navbar {
    height: 8vh;
    background-color:#ebf0f2;
    padding: 2vw 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8vh;
}

.logo-pic img {
    height: 6.5vh;
}

.logo-pic h3 {
    font-family:'Segoe UI';
    font-weight: 600;
    font-size: 3.2vh;
}

.nav-section {
    width: 60%;
    display: flex;
    gap: 5vw;
    justify-content: center;
    align-items: center;
}   
.nav-section a {
    text-decoration: none;
    color: black;
    font-family:'Segoe UI';
}

.nav-button {
    color: white;
    background-color: rgb(255, 106, 0);
    border: none;
    padding: 1vh;
    border-radius: 2px;
}
/* Hero Section */
.hero-section {
    width:100%;
    height: 65vh;
    padding: 8vh;
    padding-top: 10vh;
    background-color:#ebf0f2;
    display: flex;

}

.hero-cotent {
    width: 70%;
}

.main-heading {
    font-size: 10vh;
    text-align: left;
    font-family: 'Segoe UI';
    line-height: 5vw;
    padding-bottom:8vh;
}

.intro-para {
    text-align: left;
    width: 90%;
    
}

.buttons {
    padding-top: 7vh;
}

.btn {
    padding: 2vh;
    color: white;
    border: none;
}

.btn1 {
    background-color: rgb(255, 106, 0);
}

.btn2 {
    background-color: black;
}


/* 2nd part hero-section */
.hero-img{
    display: flex;
    justify-content: center;
    
}
.hero-img img{
    height: 100%;
    margin: 2vh 12vh 0 0;
}